<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;700&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <title>V&S TECNOLOGIA</title>
<script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=g8jfs2qwcpKoPCeqruP6sW_nSrMVQ5Wk9OkqID-LzWGL3Pxio4mHtLM7bWKYFP-IbhouFThDanOteOoV16HbfGTq0DYbwDeTrk3cBe_9es0ZGg2B1y-3OTx97lVrwKQSA5neqH6p_wKSGlgq0z9Ltw" charset="UTF-8"></script></head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="images/logo.png" alt="">
                <p><strong>V&S</strong></p>
                <p>TECNOLOGIA </p>
                <p> INSPIRANDO A EVOLUÇÃO!</p>
            </div>
            <div id="mobileHeader">
                <div id="mobileNav">
                    <span onclick="showMenu()" id="spanNav"><i class='bx bx-menu'></i><span>Menu</span></span>
                    <ul class="navItemsList" id="mobileNavItemsListID">
                        <li><a href="#home" onclick="hideMenu()">Home</a></li>
                        <li><a href="#solutions" onclick="hideMenu()">Soluções</a></li>
                        <li><a href="#notices" onclick="hideMenu()">Notícias</a></li>
                        <li><a href="#footer" onclick="hideMenu()">Contato</a></li>
                    </ul>
                </div>
                <div class="iconsItems mobileIconsItems">
                    <a href="https://wa.me/5504934428218" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
                    <a href="" target="_blank"><i class='bx bxl-instagram' ></i></a>
                </div>
            </div>
            <div class="headerItems">
                <div class="items">
                    <div class="iconsItems" id="homeIcon">
                        <a href="#home"><i class='bx bx-home-alt-2'></i></a>
                        <a class="iconTextLink" href="#home">Home</a>
                    </div>
                    <div class="iconsItems" id="solutionIcon">
                        <a href="#solutions"><i class='bx bx-cog'></i></a>
                        <a class="iconTextLink" href="#solutions">Soluções</a>
                    </div>
                    <div class="iconsItems" id="noticesIcon">
                        <a href="#notices"><i class='bx bx-bell' ></i></a>
                        <a class="iconTextLink" href="#notices">Notícias</a>
                    </div>
                    <div class="iconsItems" id="contactIcon">
                        <a href="#footer"><i class='bx bx-envelope' ></i></a>
                        <a class="iconTextLink" href="#footer">Contato</a>
                    </div>
                    <div class="fixedItems">
                        <div class="iconsItems" id="whatssapIcon">
                            <a href="https://wa.me/5504934428218"><i class='bx bxl-whatsapp'></i></a>
                            <a class="iconTextLink" href="https://wa.me/5504934428218">Whats</a>
                        </div>
                        <div class="iconsItems" id="instagramIcon">
                            <a href=""><i class='bx bxl-instagram' ></i></a>
                            <a class="iconTextLink" href="#">Insta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="home" id="home">
        <div class="homeText">
            <h1>Conecte <br> sua empresa <br> ao futuro</h1>
            <p>Potencialize seu negócio com soluções <br> tecnológicas personalizadas</p>
        </div>
    </div>
    <div class="solutions" id="solutions">
        <h2>Soluções completas</h2>
        <p>Oferecemos serviços em tecnologia que vão facilitar e impulsionar o seu negócio.</p>
        <div class="solutions-cards">
            <div class="TI">
                <img src="images/redes.png" alt="">
                <h3>Terceirização & gestão de TI</h3>
                <p>Oferecemos soluções completas e personalizadas para otimizar sua infraestrutura de tecnologia, garantir a segurança dos dados e impulsionar a eficiência operacional da sua empresa. Com nossa expertise e compromisso com a excelência, permitimos que você se concentre no seu negócio principal, enquanto cuidamos de todos os aspectos relacionados à tecnologia.</p>
            </div>
            <div class="Redes">
                <img src="images/organograma.png" alt="">
                <h3>Redes & Infraestrutura</h3>
                <p>Oferecemos soluções completas de redes e infraestruturas conectadas. <br> Nós projetamos, implementamos e gerenciamos sistemas robustos e escaláveis para impulsionar a segurança e desempenho dos seus ambientes de rede. Com a nossa experiência e expertise, ajudamos você a construir uma base sólida para suportar as demandas atuais e futuras do seu negócio.</p>
            </div>
            <div class="Seg">
                <img src="images/notebook.png" alt="">
                <h3>Segurança corporativa</h3>
                <p>Somos uma empresa confiável em soluções de segurança corporativa. Nossa missão é proteger seu negócio contra ameaças internas e externas, garantindo a integridade, confidencialidade e disponibilidade dos seus dados e sistemas. Oferecemos soluções personalizadas e ajudamos sua empresa a enfrentar os desafios atuais e emergentes de segurança cibernética.</p>
            </div>
        </div>
    </div>
    <section class="middle">
        <div class="mid">
            <div>
                <h2>Soluções <br> tecnológicas <br> para impulsionar <br> sua empresa</h2>
                <p>Estamos dedicada a superar todas as <br> expectativas. Com uma equipe de <br> especialistas altamente qualificados e <br> soluções inovadoras, estamos <br> comprometidos em fornecer serviços de <br> excelência e resultados excepcionais.</p>
            </div>
        </div>
        <div class="contactMiddle">
            <p>Entre em contato com nossa equipe de especialistas</p>
            <a href="#footer">SOLICITAR CONTATO</a>
        </div>
    </section>
    <section class="notices-section" id="notices">
        <h2>Últimas notícias</h2>
        <div class="cards-notices">
            {%NOTICES%}
        </div>
    </section>
    <section class="footer">
        <footer id="footer">
            <div class="contact">
                <div class="contactInfo">
                    <div class="p">
                        <p>FALE CONOSCO</p>
                    </div>
                    <div>
                        <div class="adress">
                            <a href="https://goo.gl/maps/oLQ5xVNVzA5Z8Rck9" target="_blank">Rua Lindolpho José Bordin, 109</a>
                            <a href="https://goo.gl/maps/oLQ5xVNVzA5Z8Rck9" target="_blank">Concórdia, Santa Catarina - 89711-206</a>
                        </div>
                    </div>
                    <div class="telefone">
                        <p>+55 49 3442-8218<a href="https://wa.me/5504934428218"><i class='bx bxl-whatsapp' ></i></a></p>
                    </div>
                    <div class="site">
                        <p><a href="mailto:contato@vstecnologia.com.br">contato@vstecnologia.com.br</a></p>
                    </div>
                </div>
                <div class="forms">
                    <form id="meu-form" action="/cadastro" method="post">
                        <input type="text" name="nome" id="nome" placeholder="Nome">
                        <input type="email" name="email" placeholder="E-mail">
                        <input type="tel" name="telefone" placeholder="Telefone">
                        <input type="text" name="empresa" id="empresa" placeholder="Empresa">
                        <textarea name="mensagem" id="" cols="30" rows="10" placeholder="Sua mensagem"></textarea>
                        <!-- <input type="text" name="menssagem" placeholder="Sua mensagem"> -->
                        <button type="button" onclick="enviarFormulario()">SOLICITAR CONTATO</button>
                    </form>
                </div>
                <div class="headerItems" id="footerIconsTest">
                    <div class="items">
                            <a href="#home"><i class='bx bx-home-alt-2'></i></a>
                            <a href="#solutions"><i class='bx bx-cog'></i></a>
                            <a href="#notices"><i class='bx bx-bell' ></i></a>
                            <a href="mailto:contato@vstecnologia.com.br"><i class='bx bx-envelope' ></i></a>
                            <a href="https://wa.me/5504934428218"><i class='bx bxl-whatsapp' ></i></a>
                            <a href=""><i class='bx bxl-instagram' ></i></a>
                    </div>
                </div>
            </div>
            <div class="all-footer">
                <div class="footer">
                    <div class="logo">
                        <div class="logo-footerText">
                            <img src="images/logo.png" alt="">
                            <p><strong>V&S</strong></p>
                            <p>TECNOLOGIA </p>
                            <p> INSPIRANDO A EVOLUÇÃO!</p>
                        </div>
                        <div class="adress-footer">
                            <a href="https://goo.gl/maps/oLQ5xVNVzA5Z8Rck9" target="_blank"> RUA LINDOLPHO JOSÉ BORDIN, 109 | CONCÓRDIA, SANTA CATARINA - 89711-206</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="all-footer-mobile">
            <div class="footer">
                <div class="logo-footer">
                    <img src="images/logo.png" alt="">
                    <div class="text-footer">
                        <p>V&S<span id="fraseEmpresa">TECNOLOGIA</span></p>
                        <p>INSPIRANDO A EVOLUÇÃO!</p>
                    </div>
                </div>
                <div class="adress-footer">
                    <p> Rua Lindolpho José Bordin, 109 </p>
                    <p> Concórdia, Santa Catarina - 89711-206</p>
                    <p> contato@vstecnologia.com.br </p>
                </div>
            </div>
        </div>
    </section>
    <div class="ass">
        <p>V&S Tecnologia site by João and Rauber</p>
    </div>
    <div class="whats">
        <div class="iconsItems" id="homeIcon">
            <a href="#home"><i class='bx bx-home-alt-2'></i></a>
        </div>
        <div class="iconsItems" id="whatssapIcon">
            <a href="https://wa.me/5504934428218"><i class='bx bxl-whatsapp' ></i></a>
        </div>
    </div>
    <div id="cookies-hidden">
        <div class="cookies">
            <form id="cookie-form" method="post" action="/configurar-cookies">
                <p>Utilizamos cookies em nosso site para compreender a sua interação com o nosso serviço. Ao aceitar, você concorda com o uso de alguns dados. <a href="/cookies">Saiba Mais</a></p>
                <div class="cookiesButtons">
                    <button value="true" name="aceitarCookies">
                      <a>Aceitar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="email-sucesso" style="display: none;">
        <h1> Sucesso ao enviar o email <i class='bx bx-check bx-tada' ></i> </h1>
        <p> Vamos responder o mais rápido possível! </p>
        <button onclick="SairDiv()"> Fechar </button>
    </div>
    <div id="email-erro" style="display: none;">
        <h1> Falha ao enviar o email <i class='bx bx-x bx-tada' ></i></h1>
        <p> Confira se os campos foram preenchidos adequadamente. </p>
        <button onclick="SairDiv()"> Fechar </button>
    </div>
    <div class="custom-loaderdiv">
        <div id="loader" class="custom-loader" style="display: none;"></div>
    </div>
    <script>
        // Função para ocultar o formulário
        function ocultarFormulario() {
            console.log('ocultar formulario');
          const cookieForm = document.getElementById('cookies-hidden');
          cookieForm.classList.add('hidden');
        }

        // Verificar se o cookie foi aceito e ocultar o formulário, se necessário
        const aceitaCookies = '{%ACEITA_COOKIES%}'; // Substituir pelo valor real do cookie (Sim ou Não)
        console.log(aceitaCookies);
        if (aceitaCookies === 'Sim') {
          ocultarFormulario();
          setTimeout(() => {
            document.getElementById('cookies-hidden').classList.remove('hidden');
            }, 10000);
        }

        function enviarFormulario() {
      var loader = document.getElementById('loader')
      loader.style.display = 'block';

      const formulario = document.getElementById('meu-form');
      const formData = new FormData(formulario);

      console.log(formData);
      fetch('/cadastro', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        // Os dados enviados pelo servidor estão em 'data'
        console.log('Resposta do servidor:', data);
        loader.style.display = 'none';
        // Verifique o status da resposta
        if (data.status === 'success') {
            var sucesso = document.getElementById('email-sucesso')
            sucesso.style.display = 'block';
          // Faça o que for necessário com os dados de sucesso
        } else {
            var erro = document.getElementById('email-erro')
            erro.style.display = 'block';
          // Trate o erro, se necessário
        }
      })
      .catch(error => {
        console.error('Erro ao enviar a solicitação:', error);
      });
    }
        function SairDiv() {
        document.getElementById('email-sucesso').style.display = 'none';
        document.getElementById('email-erro').style.display = 'none';
    }
    </script>
</body>
</html>